LLM_API_KEY=327e643a8f21404083ddec93769bf912.5SVJExQceJadGM7z
LLM_API_URL=https://open.bigmodel.cn/api/paas/v4/chat/completions
LLM_MODEL_NAME=GLM-4.6V-Flash
MAX_CONCURRENT_REQUESTS=1
RPM_LIMIT=100
BATCH_SIZE=8
MAX_RETRIES=20
RETRY_DELAY=2.0
MAX_TOKENS=8192
TEMP_TERMS=0.1
TEMP_LITERAL=0.1
TEMP_POLISH=0.5
ENABLE_LLM_DISCOVERY=True
